# Dependencies
node_modules/

# Environment variables
.env

# Certificados SSL
*.key
*.crt
*.pem

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
